#color{
    color: red;
    background-color: rgb(225, 247, 245);
    margin-right: 67%;
    padding-inline-start: 1%;
}
#color2{
    background-color: rgb(225, 247, 245);
    margin-right: 67%;
    padding-inline-start: 1%;
}
#color3{
    color: #56ff56;
    background-color: rgb(225, 247, 245);
    margin-right: 67%;
    padding-inline-start: 1%;
}