.left1{
    width: 15%;
    margin-left: 4%;
}
.left2{
    width: 15%;
    margin-left: 2.93%;
}
.left3{
    width: 15%;
    margin-left: 4.79%;
}
.left4{
    width: 9%;
    margin-left: 4.48%;
}
.left5{
    width: 9%;
    margin-left: 5.2%;
}
#magazine{
    margin-left: 2.1%;
}
.cm{
    padding: 0.1%;
}