body{
    background-color: rgb(253, 240, 234);
}
img{
    margin-left: 40%;
    border-radius: 50%;
}
.middle{
    margin-left: 32%;
}
#left{
    border-top-style: solid;
    border-top-color: rgb(158, 200, 255);
    margin-left: 180px;
    margin-right: 240px;
}
.alltextmiddle{
    margin-left: 180px;
    margin-right: 320px;
}
div h3{
    color: red;
    padding-bottom: 0%;
}