body{
    background: url(https://www.gannett-cdn.com/media/USATODAY/USATODAY/2013/06/16/1371416165000-AP-AP10ThingsToSee-Maine-Daily-Life-1306161658_16_9.jpg);
    background-size: 100%;
}
.center{
    color: antiquewhite;
    font-size: 60px;
    text-align: center;
}
#padding{
    padding-top: 18%;
}