.container{
    margin-left: 5%;
}
input{
    margin-top: 1%;
    border-radius: 5px;
}
button{
    margin-top: 1%;
    background-color: rgb(42, 83, 218);
    color: white;
    border-style: none;
    padding: 8px 40px;
}